.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* grid-template-columns: repeat(4, 1fr); */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product-info button{
  border: none;
  background: none;
  width: 4rem;
  padding: 0.3rem;
  border-radius: 0.8rem;
  color: white;
  background-image: linear-gradient(#f0a484, #d15039);
  float: right;
}
.product-info button:active{
  width: 5rem;
  height: 1.7rem;
}
.dynamic-data{
  text-align: left;
}
.dynamic-data aside {
  float: right;
  margin-right: 0.5rem;
}
.dynamic-data aside img {
  border-radius: 1rem;
}
